/*Stylesheet
font-family: 'Open Sans';
font-family: 'Work Sans';*/

/*dark-blue: #0D3051;*/
/*dark-blue: #02162E;*/
/*mid-blue: #0E7194*/
/*light-blue: #399FD7*/
/*light-blue: rgb(14, 113, 148)*/
/*light-grey: #cacdd6*/

.white {
  color: #FAFAFA;
 }

.blue {
  color: #399FD7;
}

.nav-item .active {
  color: #FAFAFA !important;
  background-color: #236c8e !important;
}

.nav-item a {
 color: #236c8e !important;
}

/* Navbar */
.navbar {
  background-image: linear-gradient(rgb(14, 113, 148, 0.8),rgb(14, 113, 148, 0.8)), url("https://image.shutterstock.com/z/stock-photo-conceptual-illustration-of-neuron-cells-with-glowing-link-knots-in-abstract-dark-space-high-576832348.jpg");
  font-family: 'Work Sans';
  padding: 5px 10px;
}

.navbar h3 {
  color: #FAFAFA;
  font-size: 26px;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.navbar p {
  color: #FAFAFA;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.navbar li {
  padding: 0 15px;
}

.navbar a {
  color: #FAFAFA !important;
  font-size: 16px;
  padding: 5px;
  margin: 0;
  font-weight: 300;

}
.navbar-nav a:hover {
  color: #FAFAFA;
  opacity: 80%;
  font-size: 16px;
  padding: 5px;
  margin: 0;
  font-weight: 300;
}

.mr-auto {
  margin: 0 !important;
}
.navbar-collapse {
 justify-content: flex-end !important;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  /*background-color: #236C8E;*/
  /*background-image: linear-gradient(rgb(14, 113, 148, 0.9),rgb(14, 113, 148, 0.9)), url("https://image.shutterstock.com/z/stock-photo-conceptual-illustration-of-neuron-cells-with-glowing-link-knots-in-abstract-dark-space-high-576832348.jpg");*/
  /*color: black;*/
}

@media (min-width: 768px) {
    .dropdown-menu {
      background-image: linear-gradient(rgb(14, 113, 148, 0.9),rgb(14, 113, 148, 0.9)), url("https://image.shutterstock.com/z/stock-photo-conceptual-illustration-of-neuron-cells-with-glowing-link-knots-in-abstract-dark-space-high-576832348.jpg");
      border-color: rgba(255, 255, 255, 0);
    }
}


.dropdown {
  list-style: none;
  background: none;
  padding: 10px;
  display: inline-block;
}

.dropdown .nav-link {
  color:#fff;
  text-decoration: none;
}

.dropdown .dropdown-menu a {
  color: #000;
  text-decoration: none;
}
/*.dropdown .btn {background: green; color:#fff;}
.dropdown .btn:hover {background: cyan; color: black;}
.dropdown .btn:active {background: cyan; color:#000;}
.dropdown .btn:focus {background: cyan; color:#000;}
*/
.dropdown-menu .dropdown-item {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  padding: 8px 22px;
}

.container .dropdown .dropdown-menu a:hover {
  font-size: 15px;
  color: black !important;
  padding: 8px 22px;
  background-color: none;
}

footer {
  background-image: linear-gradient(rgb(14, 113, 148, 0.8),rgb(14, 113, 148, 0.8)), url("https://image.shutterstock.com/z/stock-photo-conceptual-illustration-of-neuron-cells-with-glowing-link-knots-in-abstract-dark-space-high-576832348.jpg");
  font-family: 'Work Sans';
  color: #FAFAFA !important;
  font-size: 12px;
  padding: 10px 0;
}

.contact {
  justify-content: center;
  vertical-align: center;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.contact li {
  list-style-type: none;
}

footer .section {
  padding: 0 40px;
}

footer a {
  color: #FAFAFA !important;
}

/*NAV*/

/*.nav-item a {
 color: #236c8e !important;
}*/

.resize-img {
  width: 30%;
}

/*html, body {
  height: 100%;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgb(14, 113, 148, 0.8),rgb(14, 113, 148, 0.8)), url("https://image.shutterstock.com/z/stock-photo-conceptual-illustration-of-neuron-cells-with-glowing-link-knots-in-abstract-dark-space-high-576832348.jpg");
  font-family: 'Work Sans';
  color: #FAFAFA;
  padding: 20px 10px;
}


.menu ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu li {
  padding: 0 20px;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  background-image: linear-gradient(rgb(14, 113, 148, 0.8),rgb(14, 113, 148, 0.8)), url("https://image.shutterstock.com/z/stock-photo-conceptual-illustration-of-neuron-cells-with-glowing-link-knots-in-abstract-dark-space-high-576832348.jpg");
  font-family: 'Work Sans';
  color: #FAFAFA;
  padding: 20px 10px;
}

.contact {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.contact li {
  padding: 0 10px;
  list-style: none;
  font-size: 14px;
  font-weight: 300;
}*/



.content {
  margin-top: 100px;
  text-align: center;
}





